<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- font -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>


  <!-- css -->

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="js/bootstrap.js"></script>
  <title>Home</title>

</head>

<body>
  <!-- the navigation bar -->
  <section id="titlebar">
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <div>
        <a class="navbar-brand" href="/">
          ID CARD GENERATING SYSTEM
      </div>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItems"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarItems">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="apply">New Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="register">Generate ID-Card</a>
          </li>

        </ul>
      </div>
    </nav>
  </section>
  <br>

  <h1>WELCOME TO YOUR DASHBOARD</h1>


  <form action="" method="GET">
    <div class="row">
      <div class=" col-lg-6 ">
        <input type="email" class="form-control form-control-sm" name="email" placeholder="you@example.com">
      </div>
      <div class=" col-lg-2 ">
        <button class="btn btn-primary btn-block" type="submit">Generate ID-Card</button>
      </div>
    </div>
  </form>
  <br>
  <div class="card mx-auto" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>

    </div>
  </div>
  <br>

  <footer class="footbar">
    <div class="social-icon">
      <ul class="icon">
        <li><a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a> </li>
        <li> <a href="mailto:onemmanuel4chrsit@gmail.com"><i class="fas fa-envelope"></i></a> </li>
      </ul>
    </div>
    <p class="copyright">© 2020 Onyekachi Emmanuel Onuoha.</p>
  </footer>
</body>

</html>