<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- font -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>


  <!-- css -->

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="js/bootstrap.js"></script>
  <title>Home</title>

</head>

<body>
  <!-- the navigation bar -->
  <section id="titlebar">
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <div>
        <a class="navbar-brand" href="/">
          ID CARD GENERATING SYSTEM
      </div>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItems"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarItems">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="apply">New Account</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="register">Apply</a>
          </li>

        </ul>
      </div>
    </nav>
  </section>
  <br>

  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>

      </div>
      <div class="card-body">
        <form>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Email">

          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="Password">
          </div>
          <div class="row align-items-center remember">
            <input type="checkbox">Remember Me
          </div>
          <div class="form-group">
            <button type="submit" class=" btn btn-outline-dark btn float-right login_btn">Login </button>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account?<a href="apply">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

  <br>
  <footer class="footbar">
    <div class="social-icon">
      <ul class="icon">
        <li><a href="https://www.facebook.com"><i class="fab fa-facebook fa-2x"></i></a></li>
        <li><a href="https://www.instagram.com"><i class="fab fa-instagram fa-2x"></i></a> </li>
        <li> <a href="mailto:onemmanuel4chrsit@gmail.com"><i class="fas fa-envelope fa-2x"></i></a> </li>
      </ul>
    </div>
    <p class="copyright">© 2020 Onyekachi Emmanuel Onuoha.</p>
  </footer>
</body>

</html>